In [3]:
import numpy as np
import pandas as pd

test = np.array([[1,0,5],
         [2,-3,4],
        [5,9,11]])

/Users/songlin/anaconda2/envs/Python35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [10]:
test_df = pd.DataFrame(test, index=range(test.shape[0]), columns= ['US', 'GB', 'AU'])

In [11]:
test_df

   US  GB  AU
0   1   0   5
1   2  -3   4
2   5   9  11

In [ ]:
    ids, countries = ([], [])
    for i in range(len(test_df)):
        idx = test_df.index[i]
        ids += [idx] * 5
        countries += encoder.inverse_transform(
            np.argsort(predictions[i])[::-1])[:5].tolist()

In [6]:
ids, countries = ([], [])

In [12]:
idx = test_df.index[0]

In [13]:
ids += [idx] * 5

In [31]:
ref = np.argsort(test_df.iloc[0,:])

In [33]:
ref

US    1
GB    0
AU    2
Name: 0, dtype: int64

In [39]:
df2 = ref.reset_index()
df2

  index  0
0    US  1
1    GB  0
2    AU  2

In [43]:
df2.sort_values(by=0, ascending=False)

  index  0
2    AU  2
0    US  1
1    GB  0