In [6]:
import numpy as np
import pandas as pd
import string
import emoji
import pickle

In [2]:
twitter = pd.read_csv("./customer-support-on-twitter/twcs.csv")

In [8]:
twitter.shape

(2811774, 7)

### Exclude the non-English tweets

In [3]:
printable = set(string.printable)

# Add some common non-standard punctuations and emoji's
additional = ['‘', 
              '’', 
              'é', 
              '–',
              '—',
              '“',
              '”',
              '、',
              '。',]+list(emoji.UNICODE_EMOJI.keys())
[printable.add(x) for x in additional]
    
def isEnglish(tweet):
    index = [x not in printable for x in tweet]
    if (np.sum(index)==0):
        return True
    else:
        return False
    
english_tweets = twitter.text.apply(lambda x:isEnglish(x))
tweets = twitter.loc[english_tweets, :]

### Format the dates

In [4]:
tweets['created_at'] = pd.to_datetime(tweets['created_at'], format='%a %b %d %H:%M:%S +0000 %Y')

/Users/songlin/anaconda2/envs/Python35/lib/python3.5/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [7]:
tweets['in_response_to_tweet_id'] = tweets['in_response_to_tweet_id'].fillna(-1)
tweets['in_response_to_tweet_id'] = tweets['in_response_to_tweet_id'].astype(int)
tweets['response_tweet_id'] = tweets['response_tweet_id'].fillna(-1)

/Users/songlin/anaconda2/envs/Python35/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/songlin/anaconda2/envs/Python35/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/songlin/anaconda2/envs/Python35/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
with open(./data/processed/tweets)

In [101]:
tweets = pd.merge(tweets,pd.DataFrame(tweets[['tweet_id', 'author_id']]),left_on='in_response_to_tweet_id', right_on='tweet_id', how='left')
tweets.drop('tweet_id_y', axis=1, inplace=True)
tweets.rename(columns={'author_id_y':'cust_id', 
                       'author_id_x':'author_id',
                      'tweet_id_x':'tweet_id'}, inplace=True)

In [108]:
tweets.loc[tweets['inbound'] == True, 'cust_id'] = tweets.loc[tweets['inbound'] == True, 'author_id']

In [110]:
tweets.sort_values(['cust_id', 'created_at'])

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,cust_id
544473,648216,10026,True,2017-10-05 00:08:01,Screw you @116016 and your stupid Blueprint pr...,648215,-1,10026
544472,648215,ChaseSupport,False,2017-10-05 02:56:26,"@10026 I'm sorry to hear this, and I'd like to...",-1,648216,10026
1462178,1693184,10026,True,2017-11-06 15:45:29,@ChaseSupport Actually it just doesn’t work in...,1693183,1693185,10026
1462177,1693183,ChaseSupport,False,2017-11-06 17:40:55,@10026 We apologize for the inconvenience. We ...,-1,1693184,10026
602280,713796,100363,True,2017-10-10 22:25:39,Now the flight @Delta is sending our bag back ...,713795,-1,100363
602279,713795,Delta,False,2017-10-10 23:06:06,@100363 Oh no! So sorry for that. Could you pr...,-1,713796,100363
1661640,1906927,10103,True,2017-10-25 09:42:58,@MOO Big thanks to Quentin for the exceptional...,1906926,-1,10103
1661639,1906926,MOO,False,2017-10-25 13:09:02,@10103 Yay! So glad to hear that Quentin could...,-1,1906927,10103
1964240,2230369,10103,True,2017-11-10 12:20:40,The ribotRainbow! New #businesscards thanks to...,2230368,-1,10103
1964239,2230368,MOO,False,2017-11-10 14:56:59,@10103 This is the prettiest rainbow we've eve...,-1,2230369,10103
773137,909357,10221,True,2017-10-21 05:20:48,Yup https://t.co/GpkFa9MfHQ,909356,-1,10221
773136,909356,AskLyft,False,2017-10-21 05:32:52,"@10221 Hey Drew, can you please DM us some inf...",-1,909357,10221
1774280,2027294,10221,True,2017-11-06 19:05:45,same. https://t.co/gxkJt8BNV6,2027293,-1,10221
1774279,2027293,comcastcares,False,2017-11-06 19:50:36,@10221 Some customers are having issues with t...,-1,2027294,10221
2430848,2737084,10286,True,2017-11-18 00:40:34,@comcastcares Is it possible to get business c...,2737083,-1,10286
2430847,2737083,comcastcares,False,2017-11-20 20:03:32,@10286 Hi Larry. If you're interested in obtai...,-1,2737084,10286
1027535,1197566,10297,True,2017-10-25 03:12:36,@Delta I will never fly your airline again,1197564,-1,10297
1027533,1197564,Delta,False,2017-10-25 03:24:37,"@10297 That's rough, Beth. Anything we can ass...",1197565,1197566,10297
1027534,1197565,10297,True,2017-10-25 03:31:21,@Delta I just sent you a DM,-1,1197564,10297
473711,566154,10298,True,2017-12-03 00:48:39,Wow. Used to think Apple maps were bad. Just t...,566153,-1,10298
473710,566153,AskLyft,False,2017-12-03 01:06:54,@10298 Hey there! We'd like to look into this....,-1,566154,10298
1362484,1579963,10304,True,2017-11-04 19:07:28,My sweetie has been stranded in Honduras witho...,"1579964,1579962",-1,10304
1362497,1579964,AmericanAir,False,2017-11-04 19:16:14,@10304 Do you have the record locator or bag f...,-1,1579963,10304
1362483,1579962,10304,True,2017-11-04 19:24:36,@AmericanAir Just sent. He’s been without his ...,1579960,1579963,10304
1362481,1579960,AmericanAir,False,2017-11-04 19:27:39,@10304 We've replied to your DM.,1579961,1579962,10304
1362482,1579961,10304,True,2017-11-04 19:33:08,@AmericanAir Thank you! The info provided isn’...,-1,1579960,10304
1365455,1583285,10304,True,2017-11-04 19:39:33,"Ok, brain trust! My sweetie is in Honduras for...","1583286,1583284,1583287",-1,10304
1365454,1583284,AmericanAir,False,2017-11-04 19:43:36,@10304 We're escalating this with our Central ...,1583276,1583285,10304
1365453,1583276,10304,True,2017-11-04 20:03:49,@AmericanAir Thank you! When can we expect an ...,1583274,1583284,10304
1365444,1583274,AmericanAir,False,2017-11-04 20:15:48,"@10304 We can't guarantee a time frame, but we...",1583275,1583276,10304
...,...,...,...,...,...,...,...,...
506484,602415,AppleSupport,False,2017-12-03 21:45:00,@263004 We'd like to know more. DM us the deta...,-1,602416,NaN
506085,601985,AmericanAir,False,2017-12-03 21:45:07,@262876 It's a great gift for the holidays and...,-1,601986,NaN
505995,601890,Delta,False,2017-12-03 21:47:17,@251476 We're sorry to hear this. Please accep...,601891,601892,NaN
506781,602722,sainsburys,False,2017-12-03 21:50:37,"@263111 Uh oh, sorry about that! Can you pop o...",602723,602724,NaN
506469,602399,AppleSupport,False,2017-12-03 21:52:00,@262996 We're happy to look into this issue wi...,-1,602400,NaN
506542,602479,ChipotleTweets,False,2017-12-03 21:52:34,@263029 A lot of our restaurants have recyclin...,-1,602480,NaN
505956,601849,SpotifyCares,False,2017-12-03 21:54:18,@262828 We're sorry to hear you feel that way....,-1,601850,NaN
507120,603068,AskPayPal,False,2017-12-03 21:58:59,@263241 Thank you for reaching out to us here ...,-1,603069,NaN
506511,602445,ChipotleTweets,False,2017-12-03 22:04:31,"@263018 You're right, a guacless burrito isn't...",-1,602446,NaN
506360,602273,AmazonHelp,False,2017-12-03 22:06:31,"@262963 Bonsoir, désolée pour cela, est-ce qu'...",602274,602275,NaN
506439,602369,AppleSupport,False,2017-12-03 22:07:00,@262987 Thanks for verifying. To our knowledge...,602370,602371,NaN
501856,597163,GWRHelp,False,2017-12-03 22:09:54,@261579 You're welcome! - Jordan,-1,597162,NaN
506872,602813,Uber_Support,False,2017-12-03 22:10:54,"@263148 Here to help! Send us a note here, htt...",-1,602814,NaN
506519,602456,ChipotleTweets,False,2017-12-03 22:14:00,"@263021 Well, we're glad we get to keep on see...",-1,602454,NaN
507737,603728,ChipotleTweets,False,2017-12-03 22:14:28,@216983 No point at all. We aim to have your f...,603729,603730,NaN
507398,603377,British_Airways,False,2017-12-03 22:15:30,@251603 Hi Stephen. Nice to hear from you. A...,603378,603379,NaN
507241,603197,AmazonHelp,False,2017-12-03 22:19:31,@263286 So sorry for the trouble! We're here t...,603196,603198,NaN
506938,602882,AmericanAir,False,2017-12-03 22:20:31,@263170 We're so glad you had a wonderful flig...,-1,602883,NaN
507333,603293,sprintcare,False,2017-12-03 22:21:28,@263319 We would love to have you join us at S...,603292,603294,NaN
507708,603698,AskTarget,False,2017-12-03 22:24:43,@263463 We apologize that you did not find the...,-1,603699,NaN
471543,563816,AirbnbHelp,False,2017-12-03 22:27:37,"@252030 Hi Jan, we're sorry for this experienc...",-1,563814,NaN
508221,604240,Morrisons,False,2017-12-03 22:32:53,@263647 Glad you like it Megan :) - Kirsty,-1,604241,NaN
507717,603709,ChipotleTweets,False,2017-12-03 22:37:00,@263467 We'll see if we made an update. -AC,603708,-1,NaN
507668,603657,Delta,False,2017-12-03 22:37:28,@116469 We always appreciate customers who tak...,-1,603658,NaN
507270,603228,AppleSupport,False,2017-12-03 22:38:29,@263296 We'd like to look into this in more de...,-1,603229,NaN
507327,603285,sprintcare,False,2017-12-03 22:40:08,@263317 Hello Kylie! We hate to hear that this...,603286,603287,NaN
507195,603146,AmazonHelp,False,2017-12-03 22:40:28,@186371 I'm terribly sorry for the delay! To c...,-1,603147,NaN
507655,603644,Delta,False,2017-12-03 22:44:29,@188231 Looks yummy! Enjoy! *HYC,-1,603645,NaN
507817,603811,VirginTrains,False,2017-12-03 22:50:17,"@255772 Sorry to hear that, Liv! We'll be sure...",-1,603812,NaN
507943,603947,AmazonHelp,False,2017-12-03 23:08:32,@263545 Esperamos que tu plan malvado funcione...,-1,603948,NaN

In [111]:
sum(tweets.cust_id.isna())

71255

In [97]:
tweets['cust_id'] = tweets['author_id']
tweets.loc[tweets['inbound'] == False, 'cust_id'] = tweets[tweets['in_response_to_tweet_id']]

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,2017-10-31 22:10:47,@115712 I understand. I would like to assist y...,2,3
1,2,115712,True,2017-10-31 22:11:45,@sprintcare and how do you propose we do that,-1,1
2,3,115712,True,2017-10-31 22:08:27,@sprintcare I have sent several private messag...,1,4
3,4,sprintcare,False,2017-10-31 21:54:49,@115712 Please send us a Private Message so th...,3,5
4,5,115712,True,2017-10-31 21:49:35,@sprintcare I did.,4,6

In [93]:
inbound = tweets.loc[twitter['inbound'] == True,:]
outbound = tweets.loc[twitter['inbound'] == False,:]
combined = pd.merge(inbound, outbound, how="left", left_on="tweet_id", right_on="in_response_to_tweet_id")

In [95]:
cols_to_drop = ['inbound_x', 'inbound_y', 'in_response_to_tweet_id_y']
combined.drop(cols_to_drop, axis = 1, inplace=True)

In [96]:
combined.head()

,tweet_id_x,author_id_x,created_at_x,text_x,response_tweet_id_x,in_response_to_tweet_id_x,tweet_id_y,author_id_y,created_at_y,text_y,response_tweet_id_y
0,2,115712,2017-10-31 22:11:45,@sprintcare and how do you propose we do that,-1,1,NaN,NaN,NaT,NaN,NaN
1,3,115712,2017-10-31 22:08:27,@sprintcare I have sent several private messag...,1,4,1.0,sprintcare,2017-10-31 22:10:47,@115712 I understand. I would like to assist y...,2
2,5,115712,2017-10-31 21:49:35,@sprintcare I did.,4,6,4.0,sprintcare,2017-10-31 21:54:49,@115712 Please send us a Private Message so th...,3
3,8,115712,2017-10-31 21:45:10,@sprintcare is the worst customer service,"9,6,10",-1,6.0,sprintcare,2017-10-31 21:46:24,@115712 Can you please send us a private messa...,"5,7"
4,8,115712,2017-10-31 21:45:10,@sprintcare is the worst customer service,"9,6,10",-1,9.0,sprintcare,2017-10-31 21:46:14,@115712 I would love the chance to review the ...,-1

In [ ]:
combined.rename(columns={'tweet_id_x':'cust_tweet_id', 
                         'author_id_x':'cust_id',
                        'created_at_x':'cust_time',
                        'text_x':'cust_msg',
                        'response_tweet_id':'cust_response_tweet_id',
                        'in_response_to_tweet_id_x'})

In [ ]:
combined[combined['']]

In [ ]:
case.groupby('customer_id')['tweet_id'].count().reset_index()

In [ ]:
case